header {
    list-style: none;
    background-color: rgb(150, 224, 224);
    text-align: right;
    font-size: 20px;
}

main {
    text-align: center;
    font-size: 25px;
    background-color: azure;
}

footer {
    background-color: rgb(150, 224, 224);
}

.T {
    font-size: 15px;
}