body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; 
    background-color: #f0f0f0;
}

  
.container {
    height: 100vh;
    background-image: url(./pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-size: cover;
    background-position: center center; 
    position: relative;
}

.box {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
