@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Sankofa+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Sankofa+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pacifico&family=Sankofa+Display&display=swap');
#p1{
    font-family: "Grey Qo", sans-serif;
}

#p2{
    font-family: "Sankofa Display", sans-serif;
}

#p3{
    font-family: "Pacifico", sans-serif;
}